
#generalmenubutton-darkmode {
-fx-text-fill : #dadada;
-fx-background-color :   #676f9d;
}

#generalmenubutton-darkmode:hover {
-fx-background-color : #f9b17a;
-fx-text-fill : #6f6969;
}

/* if you put .ikonli-font-icon down it affects every single icon. Need to look into IDs. */
 #generalicon-darkmode {
 -fx-icon-color : #ab28d7;
 }

 #SidebarIcon .ikonli-font-icon {
-fx-icon-color : #1c8c2f;
}



/*------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------*/