
#generalmenubutton-darkmode {
-fx-text-fill : #dadada;
-fx-background-color :   #676f9d;
}

#generalmenubutton-darkmode:hover {
-fx-background-color : #f9b17a;
-fx-text-fill : #6f6969;
}


/*------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------*/